<h3> <i class="fas fa-book-reader"></i>
    책이야기
</h3>

<div class="section">
    <p class="lead">
        책과 함께 당신의 이야기를 만들어보세요
        {{!-- Create public and private stories from your life --}}
    </p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> 구글 계정으로 로그인
    </a>
</div>